---
import MainLayout from "../../layouts/MainLayout.astro";
const lastUpdatedPT: string = new Date().toLocaleDateString("pt-BR", {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<MainLayout
  textRole="Desenvolvedor de Software"
  ,
  textDescription="20, Sistemas para Internet @ IFPB. Em busca de oportunidades de desenvolvimento de software."
  ,
  textCurriculum="Veja meu currículo aqui"
  ,
  textUpdatedOn="Atualizado em"
  ,
  dateLastUpdated={lastUpdatedPT}
  ,
  textOr=" ou "
  ,
  metaLang="pt"
  ,
  lang="pt"
>

  <section>
    <h1 class="text-4xl font-bold mb-4">Conheça um pouco mais sobre mim</h1>
    <div class="text-lg flex flex-col gap-2 text-neutral-400">
      <p>
        Sou estudante do curso de <span class="text-neutral-300 font-semibold">Sistemas para Internet</span> no <span class="text-neutral-300 font-semibold">IFPB Campus João Pessoa</span> e atualmente estou no <span class="text-neutral-300 font-semibold">4º semestre</span> do curso. Estou aprimorando minhas habilidades em desenvolvimento de software, com foco em <span class="text-neutral-300 font-semibold">desenvolvimento backend</span>, mas também tenho conhecimento fundamental de tecnologias <span class="text-neutral-300 font-semibold">frontend.</span>
      </p>
      <p>
        Atualmente, minha stack principal é <span class="text-neutral-300 font-semibold">Java Spring, Next.js e PostgreSQL.</span>
      </p>
      <p>
        Tenho experiência com algumas tecnologias <span class="text-neutral-300 font-semibold">frontend</span>, como: <span class="text-neutral-300 font-semibold">React, Next.js, Astro e Angular</span>. Minhas experiências com tecnologias <span class="text-neutral-300 font-semibold">backend</span> incluem: <span class="text-neutral-300 font-semibold">Node.js</span> (com <span class="text-neutral-300 font-semibold">TypeScript</span>, e experiências com <span class="text-neutral-300 font-semibold">Express.js</span>) <span class="text-neutral-300 font-semibold"></span>além de <span class="text-neutral-300 font-semibold">Java</span> com <span class="text-neutral-300 font-semibold">Spring Boot</span>. Além disso, tenho conhecimento fundamental de SQL, sendo o PostgreSQL mais frequente nos meus projetos. Também tenho experiência com Docker e sempre faço uso limpo e organizado do Git para versionar os projetos em que atuo.
      </p>
      <p>
        Atualmente estou usando meu tempo livre para criar projetos com <span class="text-neutral-300 font-semibold">Java Spring</span>, e também estou aprendendo a implementar o uso de bancos <span class="text-neutral-300 font-semibold">NoSQL</span> como <span class="text-neutral-300 font-semibold">Redis e MongoDB</span> no meu workflow, além de aprofundar meus conhecimentos de <span class="text-neutral-300 font-semibold">AWS</span> para futuros deploys.
      </p>
    </div>
  </section>

</MainLayout>
